<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2003/01/wi">
	<Module Id="Set_SWORD_PATH_Environment_Variable" Guid="00C6F87D-D146-43e7-8F0E-FE623716D268" Language="0" Version="1.0">
		<Package Id="????????-????-????-????-????????????" Keywords="MergeModule, MSI, SWORD_PATH" Description="Sets the SWORD_PATH Environment variable for the OneStory Editor" Manufacturer="SIL International" InstallerVersion="110" Platforms="Intel" Languages="0" Compressed="yes" SummaryCodepage="1252" />
		<IgnoreModularization Type="Directory" Name="TARGETDIR"/>
		<Directory Id="TARGETDIR" Name="SourceDir">
		<Component Id="SWORD_PATH" Guid="344DA276-4A1F-444e-9117-237129408D67">
			<Environment Id="SWORD_PATH" Name="SWORD_PATH" Action="set" System="yes" Part="first" Value="[TARGETDIR]SWORD" />
		</Component>
		</Directory>
	</Module>
</Wix>