<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="AiChorus.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <AiChorus.Properties.Settings>
            <setting name="LastProjectFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="UpgradeSettings" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ServerLabelsToUrls" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>LanguageDepot.org [resumable sync]</string>
                        <string>http://resumable.languagedepot.org</string>
                        <string>LanguageDepot.org [private]</string>
                        <string>http://hg-private.languagedepot.org</string>
                        <string>LanguageDepot.org [legacy sync]</string>
                        <string>http://hg-public.languagedepot.org</string>
                    </ArrayOfString>
                </value>
            </setting>
        </AiChorus.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
