<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="OneStoryProjectEditor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        <section name="StoryEditor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v2.0.50727"/></startup><userSettings>
        <OneStoryProjectEditor.Properties.Settings>
            <setting name="LastUserType" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LastNetBibleReference" serializeAs="String">
                <value />
            </setting>
            <setting name="LastStoryWorkedOn" serializeAs="String">
                <value />
            </setting>
            <setting name="LastMemberLogin" serializeAs="String">
                <value />
            </setting>
            <setting name="LastProjectFile" serializeAs="String">
                <value />
            </setting>
            <setting name="HelpTooltipCrafterTypeNationalBT" serializeAs="String">
                <value>In this stage, an uninitiated native speaker (UNS) will back translate
the story into national language and one of the story crafters will type 
that back translation into the verse field(s)
 in this window. You can 
right-click on the small button in the upper right corner of the verse
pane and choose 'Add new verse(s) after', '&lt;num&gt;' or so to insert 
some empty verse fields for the story. Alternate, you can type the 
entire story into a single verse box and then right click on the same
small 'verse commands' button and choose '
'.
This will automatically split the story into verses when you tell it
which character to use as an 'end-of-sentence' character.

When you are finished entering or splitting the story into separate 
verses of about one sentence per verse, then click the button in 
the left-hand side of the status bar and choose 'Next Stage' to go to the next stage in the process.</value>
            </setting>
            <setting name="HelpCrafterTypeNationalBT" serializeAs="String">
                <value>Crafter enters National language back translation</value>
            </setting>
        </OneStoryProjectEditor.Properties.Settings>
        <StoryEditor.Properties.Settings>
            <setting name="UserType" serializeAs="String">
                <value>0</value>
            </setting>
        </StoryEditor.Properties.Settings>
    </userSettings>
</configuration>
