<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="OneStoryProjectEditor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        <section name="StoryEditor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="OneStoryProjectEditor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v2.0.50727"/></startup><userSettings>
        <OneStoryProjectEditor.Properties.Settings>
            <setting name="LastUserType" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LastNetBibleReference" serializeAs="String">
                <value />
            </setting>
            <setting name="LastStoryWorkedOn" serializeAs="String">
                <value />
            </setting>
            <setting name="LastMemberLogin" serializeAs="String">
                <value />
            </setting>
            <setting name="LastProject" serializeAs="String">
                <value />
            </setting>
            <setting name="LastResourcesUsed" serializeAs="String">
                <value>Jubilee Hindi Bible, Fish Bible, New Living Translation, Genesis Film</value>
            </setting>
            <setting name="RemoteUrlUsername" serializeAs="String">
                <value>Bob_Eaton</value>
            </setting>
            <setting name="RemoteUrlPassword" serializeAs="String">
                <value>tsc2009</value>
            </setting>
            <setting name="LastProjectPath" serializeAs="String">
                <value />
            </setting>
            <setting name="SwordModulesUsed" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>NETfree</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="LastSwordModuleUsed" serializeAs="String">
                <value>NETfree</value>
            </setting>
        </OneStoryProjectEditor.Properties.Settings>
        <StoryEditor.Properties.Settings>
            <setting name="UserType" serializeAs="String">
                <value>0</value>
            </setting>
        </StoryEditor.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <OneStoryProjectEditor.Properties.Settings>
            <setting name="RemoteUrl" serializeAs="String">
                <value>ftp://ftp.seedconnect.org/HgRep/</value>
            </setting>
            <setting name="DefMyDocsSubfolder" serializeAs="String">
                <value>OneStory</value>
            </setting>
        </OneStoryProjectEditor.Properties.Settings>
    </applicationSettings>
</configuration>
